<!DOCTYPE html>
<html>
<head>
  <title>Cbrf</title>
  <%= stylesheet_link_tag    'cbrf/application', media: 'all' %>
  <%= javascript_include_tag 'cbrf/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
